{% extends "base.html" %}

{% block title %} Home Page - Isyaratku {% endblock %}

{% block content %} 

    <div>
        <h1 class="display-5 text-center font-weight-bold mt-4"></h1>
        <h4 class="text-center py-3">Let's figure out your meaning in sign language<br>Choose the option for translation</h4>
        <span><a class="button text-translate" href="/translate" target="_blank">Text Translate</a></span>
        <span><a class="button live-translate" href="/video" target="_blank">Live Translate</a></span>
    </div>

{% endblock %}

