{%  extends "base.html" %}

{% block title %} Input Text - Isyaratku {% endblock %}

{% block content %} 

    <h3>Hello world!! This is my first webpage using python</h3>

    <form action="/get-text" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="nm">Name:</label></td>
                <td><input type="text" name="nama" id="name" placeholder="Type Any Letter"> </td>
            </tr>
            <tr>
                <td><label for="upld">Upload Image:</label></td>
                <!--<td><input type="file" name="gambar" id="pict" accept="image/*"></td>-->
            </tr>
        </table>
        <input type="submit" value="submit" class="btn btn-primary">
    </form>

{% endblock %}
